[Unit]
Description=Backup
After=docker.service
Requires=docker.service

[Service]
User=core
TimeoutStartSec=5
ExecStart=/bin/bash -c  ' \
  /usr/bin/docker run \
    -v /tmp/backup-test:/var/lib/backup \
    --name=backup-ghost \
    --rm \
    --privileged  \
    tkruitbosch/backup-volume \
    file:///var/lib/data'

ExecStop=/usr/bin/docker stop backup-ghost

[Install]
WantedBy=multi-user.target